<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Coupons</h4>
                        <div class="basic-form">
                            <form action="/admin/add-coupons" method="post">
                                <!-- In your EJS file -->
                                <% if (typeof error !=='undefined' ) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                    <% } %>
                                        <div class="form-group col-md-6">
                                            <label>Coupon Name</label>
                                            <input type="text" name="name" class="form-control" placeholder="Coupon Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Expiry</label>
                                            <input type="date" name="expiry" class="form-control"
                                                placeholder="Category">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Discount in Percentage</label>
                                            <input type="text" name="discount" class="form-control"
                                                placeholder="Discount">
                                        </div>
                                        <button type="submit" class="btn btn-dark">ADD</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>