<!-- enter-otp.ejs -->

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: #fafafa;

        }

        .container {
            display: flex;
            flex-flow: column;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .userInput {
            display: flex;
            justify-content: center;

            margin-top: 15px;

        }

        input {
            margin: 0 10px;

            height: 35px;
            width: 65px;
            border-color: rgb(67, 67, 67);
            border-radius: 5px;
            text-align: center;
            font-family: arimo;
            font-size: 1.2rem;
            background: #ffffff;
        }

        h1 {
            text-align: center;
            font-family: arimo;
            color: rgb(10, 10, 10);
        }

        h3 {
            text-align: center;
            font-family: arimo;
        }

        button {
            width: 150px;
            height: 40px;
            margin-top: 0px;

            font-family: arimo;
            font-size: 1.1rem;
            border: none;
            border-radius: 5px;
            letter-spacing: 2px;
            cursor: pointer;
            background: #ffd4d4;

            background: -webkit-linear-gradient(to right,
                    #ffdbdb,
                    #ffe0e0);

            background: linear-gradient(to right,
                    #f8d5d5,
                    #ffe6e6);

        }
    </style>
</head>



<body>
    <div class="container">
        <h1>ENTER OTP</h1>
        <p id="errorMessage" style="color: red;"></p>


        <form id="otpForm">
            <div class="userInput">
                <input type="text" name="digit1" id="digit1" maxlength="1" oninput="moveToNext(this)">
                <input type="text" name="digit2" id="digit2" maxlength="1" oninput="moveToNext(this)">
                <input type="text" name="digit3" id="digit3" maxlength="1" oninput="moveToNext(this)">
                <input type="text" name="digit4" id="digit4" maxlength="1" oninput="moveToNext(this)">
                <input type="text" name="digit5" id="digit5" maxlength="1" oninput="moveToNext(this)">
                <input type="text" name="digit6" id="digit6" maxlength="1" oninput="moveToNext(this)">
                <input type="hidden" name="otp" id="otp">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button type="submit">CONFIRM</button>
            </div>
        </form>

        <div id="resendContainer">
            <span id="countdown" style="margin-left: 10px;"></span>
            <a href="/resend-otp?userId=<%= userId %>" id="resendLink">
                <h3>Resend OTP</h3>
            </a>
        </div>
    </div>

    <script>
        console.log("hello");
        function moveToNext(input) {
            var maxLength = parseInt(input.getAttribute("maxlength"));
            var currentIndex = Array.from(input.parentNode.children).indexOf(input);

            if (currentIndex < maxLength - 1) {
                var nextInput = input.parentNode.children[currentIndex + 1];
                nextInput.focus();
            }

            updateHiddenOTP();
        }

        function updateHiddenOTP() {
            var otpFields = document.querySelectorAll('.userInput input[type="text"]');
            var concatenatedOTP = Array.from(otpFields).map(field => field.value).join('');
            document.getElementById('otp').value = concatenatedOTP;
        }

        function prepareConcatenatedOTP() {

            return true;
        }

        var countdown = 60;
        var countdownElement = document.getElementById('countdown');
        var inputFields = document.querySelectorAll('.userInput input[type="text"]');
        var confirmButton = document.querySelector('.userInput button');
        function updateCountdown() {
            countdownElement.innerHTML = countdown + ' seconds';
            if (countdown === 0) {
                countdownElement.innerHTML = 'OTP Expired';
                countdownElement.style.color = 'red';
                inputFields.forEach(function (input) {
                    input.readOnly = true;
                });
                confirmButton.disabled = true;
            } else {
                countdown--;
                setTimeout(updateCountdown, 1000);
            }
        }


        updateCountdown();
        $(document).ready(function () {
            $('#otpForm').submit(function (e) {
                e.preventDefault(); 

                var formData = $(this).serialize(); 

                $.ajax({
                    type: 'POST',
                    url: '/verify-otp',
                    data: formData,
                    success: function (response) {
                        console.log('Response:', response);
                        
                        if (response.status === true) {
                           
                            window.location.href = response.redirectUrl;
                        } else {
                           
                            console.log('Verification failed:', response.message);
                            $('#errorMessage').text(response.message);
                            
                        }
                    },
                    error: function (xhr, status, error) {
                        
                        console.error('Error:', error);
                    }
                });
            });
        });

    </script>
</body>