<!-- enter-otp.ejs -->

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: #fafafa;
            /* fallback for old browsers */
        }

        .container {
            display: flex;
            flex-flow: column;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .userInput {
            display: flex;
            justify-content: center;
            /* Center the input boxes horizontally */
            margin-top: 15px;
            /* Add margin for spacing */
        }

        input {
            margin: 0 10px;
            /* Add margin between input boxes */
            height: 35px;
            width: 65px;
            border-color: rgb(67, 67, 67);
            border-radius: 5px;
            text-align: center;
            font-family: arimo;
            font-size: 1.2rem;
            background: #ffffff;
        }

        h1 {
            text-align: center;
            font-family: arimo;
            color: rgb(10, 10, 10);
        }

        h3 {
            text-align: center;
            font-family: arimo;
        }

        button {
            width: 150px;
            height: 40px;
            margin-top: 0px;
            /* Adjust the margin for spacing */
            font-family: arimo;
            font-size: 1.1rem;
            border: none;
            border-radius: 5px;
            letter-spacing: 2px;
            cursor: pointer;
            background: #ffd4d4;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right,
                    #ffdbdb,
                    #ffe0e0);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right,
                    #f8d5d5,
                    #ffe6e6);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>



<body>
    <div class="container">
        <h1>ENTER OTP</h1>
        <% if (typeof errorMessage !=='undefined' ) { %>
            <p style="color: red;">
                <%= errorMessage %>
            </p>
            <% } %>

                <form action="/verify-otp" method="post" onsubmit="return prepareConcatenatedOTP()">
                    <div class="userInput">
                        <input type="text" name="digit1" id="digit1" maxlength="1" oninput="moveToNext(this)">
                        <input type="text" name="digit2" id="digit2" maxlength="1" oninput="moveToNext(this)">
                        <input type="text" name="digit3" id="digit3" maxlength="1" oninput="moveToNext(this)">
                        <input type="text" name="digit4" id="digit4" maxlength="1" oninput="moveToNext(this)">
                        <input type="text" name="digit5" id="digit5" maxlength="1" oninput="moveToNext(this)">
                        <input type="text" name="digit6" id="digit6" maxlength="1" oninput="moveToNext(this)">
                        <input type="hidden" name="otp" id="otp">
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <button type="submit">CONFIRM</button>
                    </div>
                </form>

                <div id="resendContainer">
                    <span id="countdown" style="margin-left: 10px;"></span>
                    <a href="/resend-otp?userId=<%= userId %>" id="resendLink">
                        <h3>Resend OTP</h3>
                    </a>
                </div>
    </div>

    <script>
        console.log("hello");
        function moveToNext(input) {
            var maxLength = parseInt(input.getAttribute("maxlength"));
            var currentIndex = Array.from(input.parentNode.children).indexOf(input);

            if (currentIndex < maxLength - 1) {
                var nextInput = input.parentNode.children[currentIndex + 1];
                nextInput.focus();
            }

            updateHiddenOTP();
        }

        function updateHiddenOTP() {
            var otpFields = document.querySelectorAll('.userInput input[type="text"]');
            var concatenatedOTP = Array.from(otpFields).map(field => field.value).join('');
            document.getElementById('otp').value = concatenatedOTP;
        }

        function prepareConcatenatedOTP() {

            return true;
        }

        var countdown = 60;
        var countdownElement = document.getElementById('countdown');

        function updateCountdown() {
            countdownElement.innerHTML = countdown + ' seconds';
            if (countdown === 0) {
                countdownElement.innerHTML = 'OTP Expired';
                countdownElement.style.color = 'red';
            } else {
                countdown--;
                setTimeout(updateCountdown, 1000);
            }
        }


        updateCountdown();
        
    </script>
</body>