
<div class="container-fluid pt-5" >
    <div class="row px-xl-5" style="margin-left: 450px;">
        <div class="alert alert-success" role="alert">
            Order placed successfully! Your order is: <a href="/view-ordered-products/<%= orderId %>">My order</a>
        </div>
    </div>
</div>