<body>

    <head>
        <!-- Other head elements -->

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- Add other stylesheet links if needed -->
    </head>

    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5" style="margin-left: 150px;">
               <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            
                            <th>Returned Order</th>
                            <th>Order Amount</th>
                           
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        
                            <tr>
                                
                                <td class="align-middle">
                                    Hello
                                </td>
                                
                            </tr>
                        
                    </tbody>
                </table >
                <table class="table table-bordered text-center mb-0">
                    <tbody>
                        <tr>
                        <td class="align-middle">
                            Total Amount:
                        </td>
                        <td class="align-middle">
                            ₹
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>